body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 40px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.image-container {
    margin-top: 30px;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}